html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html{
    padding:0;
    margin:0;
}
p{
    margin: 0;
    color:white;
}

:root{
    --fuenteTitle: 'Dosis', sans-serif;
    --fuenteTexto: 'Red Hat Display', sans-serif;

    --black: #000000;
    --green: #1A4D2E;
    --orange:#FF9F29;
    --beige:#FAF3E3;
}

body{
    margin: 0;

    margin:  0 auto;
    padding: 0;

    background-image: url(/img/Fondos-de-Estrellas-para-celular-3-675x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    

}

.header--logo{
    width: 100%;
}

/* section */
.section-container{
    display: flex;
    margin-bottom: 4rem;
}
.section-status{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.section-status p {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    background: green;
    border-radius: 2rem;
    margin-bottom: 1rem;

}

.section-status select{
    background: white;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    padding: 0.5rem;
}



.card-List-grid{
    display: grid;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap:2rem;
    justify-items: center;
}

.card-info{
    padding: 2rem;
    background-color: purple;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.card-container{
    width: 18rem;
    height: auto;
    border: grey 2px solid;
    border-radius: 2rem;
}
.card-img{
    width: 15rem;
    margin: 0 auto;
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    border-radius: 50%;
}

.scroll{
    
        scroll-snap-type: y mandatory;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 40rem;
}

.footer{
    width: 14rem;
    position: absolute;
    bottom: -206px;
}

.btnLoad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 4rem;
    background: purple;
    margin-top: 2rem;
    border: none;
    border-radius: 2rem;
}